@import "Main.scss";

.taskTileContainer {
	background-color: $grayDarkColor;
	border-radius: 34px;
	padding: 0px 18px;
	margin: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	width: 100%;
	box-sizing: border-box;
}

.taskTileContainer:hover {
	background-color: $grayColor;
}

.taskTileButton {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.validated {
	text-decoration: line-through;
	border-color: $blueDarkColor;
}

.componentContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 34px;
	width: 25%;
	border: solid 1px $grayColor;
}

.componentHeader {
	border-bottom: 1px solid $grayColor;
	display: flex;

	padding: 6px 24px 0px 24px;
	width: 100%;
	box-sizing: border-box;
}

.bodyContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 24px;
	box-sizing: border-box;
}

.checkboxesContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	padding: 12px 24px;
	box-sizing: border-box;
	background-color: $grayDarkColor;
	border-radius: 34px;
	gap: 12px;
}

#monthDayList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 12px;
	padding: 24px;
}

#monthDayList::after {
	content: "";
	flex: auto;
}

.checkbox-container {
	position: relative;
	font-weight: 600;
	color: $whiteColor;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: relative;
	height: 32px;
	width: 32px;
	background-color: $grayColor;
	border: none;
	margin-right: 8px;
	border-radius: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkmark::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $grayDarkColor;
}

.checkbox-container label {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.checkbox-container input:checked ~ .checkmark {
	background-color: $greenColor;
	border: none;
}

.checkbox-container input:checked ~ .checkmark::after {
	color: #fff;
}

.tagIcon {
	background-color: transparent;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tagColor {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	padding: 0;
	margin: 4px;
}

.iconContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	gap: 8px;
	padding: 24px;
	box-sizing: border-box;
	background-color: $grayDarkColor;
	border-radius: 34px;
}

.colorContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 24px;
	box-sizing: border-box;
	background-color: $grayDarkColor;
	border-radius: 34px;
}

.colorContainer::after {
	content: "";
	flex: auto;
}

.iconContainer::after {
	content: "";
	flex: auto;
}

.tagTileContainer {
	display: flex;
	align-items: center;
	border: solid 1px $grayColor;
	width: fit-content;
	padding: 0px 10px 0px 0px;
	border-radius: 34px;
}

.tagTitle {
	line-height: 6px;
	font-size: 12px;
	font-weight: 600;
	white-space: nowrap;
}

.tagsContainer {
	display: flex;
	padding: 6px 24px 6px 24px;
	width: 100%;
	box-sizing: border-box;
	overflow-x: scroll;
	gap: 6px;
}
